section {
  display: grid;
  height: 100vh;
  margin-top: 30px;
}

.divider {
  margin-top: 200px;
  text-align: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.child {
  flex: 0 1 500px;
  color: #19ccef;
  font-size: 2rem;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.answer {
  color: #19ccef;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
